<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório de Oficial</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Relatório de Habitantes da Nação</h1>
    <table>
        <thead>
            <tr>
                <th>Nação</th>
                <th>Planeta</th>
                <th>Comunidade</th>
                <th>Quantidade de Habitantes</th>
            </tr>
        </thead>
        <tbody>
            {% for row in inhabitants %}
                <tr>
                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <button class="back-button" onclick="window.location.href='{{ url_for('main.overview')}}'">Voltar</button>
</body>
</html>
